@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FoodLoverGuide.Models.Contact;

<form method="post">
    <lable asp-for="Telephone">
        <input type="text" asp-for="Telephone" />
    </lable>
    <lable asp-for="Email">
        <input type="text" asp-for="Email" />
    </lable>
    <button class="btn btn-info" type="submit" asp-action="Add" asp-controller="Contact">Add</button>
</form>
