@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FoodLoverGuide.Models.SocialMedia;

<form method="post">
    <lable asp-for="Media">
        <input type="text" asp-for="Media" />
    </lable>
    <button class="btn btn-info" type="submit" asp-action="Add" asp-controller="SocialMedia">Add</button>
</form>
