@using Microsoft.AspNetCore.Identity
@using FoodLoverGuide.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="justify-content: center; align-items: center;">
        <div class="info">
            <a asp-action="Details" asp-controller="Users" class="d-block" asp-route-id="@user.Id" style="color: #F1C40F; font-size: 20px;">@UserManager.GetUserName(User)</a>
        </div>
    </div>
}
