@using FoodLoverGuide.Core.ViewModels.Category
@model NewCategoryVM

<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="card card-success">
            <div class="card-header" style="background-color:#27ae60 ">
                <h3 class="card-title" style="color: white;">Създай категория</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" type="text" class="form-control" aria-required="true"></input>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer" style="justify-items: center">
                    <button class="btn" style="background-color: #27ae60 !important; color: white;" type="submit" asp-action="Create" asp-controller="Category">Създай</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}