@using FoodLoverGuide.Core.ViewModels.Restaurant
@model RestaurantDetailsVM

@{
    ViewData["Title"] = "Restaurant Details";
}

<div class="form-container">
    <h2>Restaurant Details</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <input type="text" asp-for="Description" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Location">Location:</label>
            <input type="text" asp-for="Location" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Telephone">Telephone:</label>
            <input type="text" asp-for="Telephone" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Instagram">Instagram:</label>
            <input type="text" asp-for="Instagram" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Facebook">Facebook:</label>
            <input type="text" asp-for="Facebook" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="WebSite">Website:</label>
            <input type="text" asp-for="WebSite" class="form-control" />
        </div>

        <div class="form-group-inline">
            <div class="form-group">
                <label asp-for="PriceRangeFrom">Price range from:</label>
                <input type="text" asp-for="PriceRangeFrom" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PriceRangeTo">Price range to:</label>
                <input type="text" asp-for="PriceRangeTo" class="form-control" />
            </div>
        </div>

        <div class="form-group-inline">
            <div class="form-group">
                <label asp-for="IndoorCapacity">Indoor capacity:</label>
                <input type="text" asp-for="IndoorCapacity" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="OutdoorCapacity">Outdoor capacity:</label>
                <input type="text" asp-for="OutdoorCapacity" class="form-control" />
            </div>
        </div>

        <button class="btn btn-info" type="submit" asp-action="Create" asp-controller="Restaurant">Submit</button>
    </form>
</div>
