@using FoodLoverGuide.Core.ViewModels.Restaurant
@model IEnumerable<RestaurantDetailsVM>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Ресторант</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var res in Model)
        {
            <tr>
                <th scope="row">Name</th>
                <td>@res.Name</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>@res.Description</td>
            </tr>

            <a asp-action="Edit" asp-controller="Restaurant" asp-route-id="@res.Id" class="btn btn-success">Edit</a>
            <form method="post" asp-controller="Restaurant" asp-action="Delete">
                <button class="btn btn-danger" type="submit" asp-controller="Restaurant" asp-action="Delete" asp-route-id="@res.Id">Delete</button>
            </form>
        }
    </tbody>
</table>
