@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FoodLoverGuide.Models.Feature;

<form method="post">
    <lable asp-for="Name">
        <input type="text" asp-for="Name" />
    </lable>
    <button class="btn btn-info" type="submit" asp-action="Create" asp-controller="Feature">Create</button>
</form>
