@using FoodLoverGuide.Core.ViewModels.Restaurant

@model AddCategoryToRestaurantVM

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header" style="background-color: #27ae60">
                <h3 class="card-title" style="color: white">Стъпка 2 - Добави категории</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <input type="hidden" name="RestaurantId" value="@Model.RestaurantId" />

                    @foreach (var cat in Model.CategoriesList)
                    {
                        <div class="form-check mb-2 ml-2">
                            <input type="checkbox" class="form-check-input" name="SelectedCategoriesIds" id="category-@cat.Id" value="@cat.Id" />
                            <label class="form-check-label" for="category-@cat.Id">@cat.CategoryName</label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <button class="btn float-right" style="background-color: #27ae60; color: white" type="submit" asp-action="AddRestaurantCategories" asp-controller="RestaurantCategory">
                        <i class="fas fa-plus-circle mr-1"></i>Добави
                    </button>
                    <a asp-action="Edit" asp-controller="restaurant" asp-route-id="@Model.RestaurantId" asp-route-nextAction="EditRestaurantCategories" class="btn btn-default">
                        <i class="fas fa-arrow-left mr-1"></i> Назад
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
