@using FoodLoverGuide.Core.ViewModels.Restaurant

@model AddCategoryToRestaurantVM

<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Добави категории</h3>
            </div>
            <form method="post">
                <input type="hidden" name="RestaurantId" value="@Model.RestaurantId" />
                @foreach (var cat in Model.CategoriesList)
                {
                    <div class="custom-control custom-checkbox" style="margin-left: 50px;">
                        <input type="checkbox" class="checkbox" name="SelectedCategoriesIds" id="@cat.Id" />
                        <label class="custom-control-label">@cat.CategoryName</label>
                    </div>
                }
                <div class="card-footer">
                    <button class="btn btn-info" type="submit" asp-action="AssignCategories" asp-controller="Restaurant">Добави</button>
                </div>
            </form>
        </div>
    </div>
</div>