@using FoodLoverGuide.Core.ViewModels.Restaurant

@model AddFeatureToRestaurantVM

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card card-success">
            <div class="card-header" style="background-color: #27ae60">
                <h3 class="card-title" style="color: white">Стъпка 3 - Добави характеристики</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <input type="hidden" name="RestaurantId" value="@Model.RestaurantId" />

                    @foreach (var feat in Model.FeaturesList)
                    {
                        <div class="form-check mb-2 ml-2">
                            <input type="checkbox" class="form-check-input" name="SelectedFeaturesIds" id="feature-@feat.Id" value="@feat.Id" />
                            <label class="form-check-label" for="feature-@feat.Id">@feat.Name</label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-right" type="submit" asp-action="AssignFeatures" asp-controller="Restaurant">
                        <i class="fas fa-plus-circle mr-1"></i>Добави
                    </button>
                    <a asp-action="edit" asp-controller="restaurant" asp-route-id="@Model.RestaurantId" class="btn btn-default">
                        <i class="fas fa-arrow-left mr-1"></i> Назад
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
