@using FoodLoverGuide.Core.ViewModels.Restaurant

@model AddFeatureToRestaurantVM

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Добави категории</h3>
    </div>
    <form method="post">
        <input type="hidden" name="RestaurantId" value="@Model.RestaurantId" />
        @foreach(var feat in Model.FeaturesList){
         <div style="align-items">
             <input type="checkbox" class="checkbox" name="SelectedCategoriesIds" id="@feat.Id"/>
                        @feat.Name
         </div>
        }<div class="card-footer">
            <button class="btn btn-info" type="submit" asp-action="AssignFeatures" asp-controller="Restaurant">Добави</button>
        </div>
</form>
</div>