@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<FoodLoverGuide.Models.Feature>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td>@f.Name</td>
                <td>
                    <a asp-action="Edit" asp-controller="Feature" asp-route-id="@f.Id" class="btn btn-success">Edit</a>
                    <form method="post" asp-controller="Feature" asp-action="Delete">
                        <button class="btn btn-danger" type="submit" asp-controller="Feature" asp-action="Delete" asp-route-id="@f.Id">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
